* {
    margin: 0;
    padding: 0;

}


body {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    margin: 50px 100px;

}

.contents {


    margin-top: 10px;

    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}


.contents__2 {
    display: flex;
    gap: 1px;

    cursor: pointer;
    align-items: center;


}


.contents__2__p {
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 40px;

}

.contents__2 p {

    padding: 10px 14px;
    border-radius: 30px;
    margin: 0;
}


.contents__2 p:hover {
    background-color: lightgray;
    cursor: pointer;
}


.Heading {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.varaity img {
    height: 20px;
    width: 20px;
}


.varaity {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 20px;
}

.navbar {
    display: flex;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    border: solid black 1px;
    border-radius: 50px;
    font-size: 17px;


}


.navbar__input__0 {
    display: flex;
    font-size: 50 px;
    align-items: center;
    gap: 7px;
}

.navbar__input__0 input {
    font-size: 17px;
    border: none;
    width: 450px;

}


.navbar__input__0 input:focus {
    outline: none;


}

.navbar__input__1 {
    display: flex;
    gap: 10px;
    padding: 10px;

}

.navbar__ai {
    padding: 10px;
    border: solid black 1px;
    border-radius: 20px;
}

.navbar__search {
    padding: 10px;
    border: solid black 1px;
    border-radius: 20px;
    background-color: #00D352;

}


.intro {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #00D352;
    border-radius: 15px;
    margin-top: 60px;
}

.intro__add img {
    border-radius: 10px;
    width: 400px;
    height: auto;
}



.intro__offer {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.heading__2 {
    width: 300px;
    font-size: 25px;
    margin-left: 30px;
}

.heading__2 p {
    margin-top: 10px;
}

button {
    border: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: green;
    margin: 30px 100px;
    cursor: pointer;
}

.interest {

    cursor: pointer;
    margin-top: 30px;

}

.interest p {
    margin-top: 10px;
}

.interest__img {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    cursor: pointer;

}





.interest__img1 img {
    border-radius: 20px;
    margin-top: 30px;
    width: 250px;
    height: 250px;
}


.recommended {
    margin-top: 20px;
}

.recommended p {
    margin-top: 10px;
}


.place__card img {
    width: 200px;
    border-radius: 10px;
}

.place__card {
    width: 200px;
    background-color: crimson;
    padding: 20px;
    border-radius: 30px;

}


.recommended__container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 10px;
}



.donate {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    
    background-color: brown;
    border-radius: 20px;
    cursor: pointer;
}

.donate__img img {
    height: 400px;
    width: 400px;
    border-radius: 20px;
   
}


.donate__about {
    width:400px ;
    height: auto;
}

.donate__heading {
    font-size: 40px;

}

.donate__about p {
    margin-bottom: 20px;

}

.donate__button {
    background-color: blue;
}

.iconicplace__tittle {
    margin-top: 20px;
    font-weight: bolder;
}

.iconicplace__img img{
    margin-top: 10px;
     width: 250px;
    height: 250px;
    border-radius: 20px;
  

}

.iconicplace__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    cursor: pointer;

}

.footer {
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 20px;
    cursor: pointer;
}

.footer__one__s1{
    width: 400px;

}

.footer__one__s2{
    width: 400px;
    
}

.footer__one {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    

}

.footer__two {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content:space-between;
    align-items: center;
}

.footer__two h1{
    width: 600px;
}